apiVersion: apps/v1
kind: Deployment
metadata:
  name: pricing-service-db
  labels:
    app: pricing-service-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pricing-service-db
  template:
    metadata:
      labels:
        app: pricing-service-db
    spec:
      containers:
      - name: postgresql
        image: postgres:13
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: "user"
        - name: POSTGRES_PASSWORD
          value: "password"
        - name: POSTGRES_DB
          value: "crypto_tracker"
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: postgres-storage
        emptyDir: {}