apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: user-service-db-pvc-v2
  labels:
    app: user-service-db
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: managed-csi
