apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service-redis
  labels:
    app: user-service-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service-redis
  template:
    metadata:
      labels:
        app: user-service-redis
    spec:
      containers:
      - name: redis
        image: redis:7
        ports:
        - containerPort: 6379
        env:
        - name: REDIS_PASSWORD
          value: "redispass"
        command: ["redis-server", "--requirepass", "$(REDIS_PASSWORD)"]
        volumeMounts:
        - name: redis-storage
          mountPath: /data
      volumes:
      - name: redis-storage
        emptyDir: {}